<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
		<!--<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />-->

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
		
		<title>Welcome</title>
	</head>
	<body>
		<div class= "ui container">
			<header>
				<h1>Welcome!</h1>
			</header>
			<nav th:include="navigation :: navigation"></nav>
			<div class="image">
				<img th:src="@{/resources/img/test/ComputechLogo.png}"
					 src="../static/resources/img/test/ComputechLogo.png"/>
			</div>
		</div>
	</body>
</html>